* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: white;
  color: white;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 400px;
}

.header {
  background-color: rgb(51, 102, 153);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 10px;
}

#table {
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(51, 102, 153);
  color: white;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table td {
  color: black;
}

.main {
  background-color: rgb(51, 102, 153);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
